<section class="container">
	<div class="dashboard">
		<img src="/images/dashboard-image.svg" alt="Taskmaster dashboard" />
		<div class="checklist">
			<h3>Manage Your Work</h3>
			<div class="checklist-group">
				<img src="/images/bx-check-circle.svg" alt="checked box" />
				<p>Powerful project management</p>
			</div>
			<div class="checklist-group">
				<img src="/images/bx-check-circle.svg" alt="checked box" />
				<p>Transparent work management</p>
			</div>
			<div class="checklist-group">
				<img src="/images/bx-check-circle.svg" alt="checked box" />
				<p>Manage work & focus on the most important tasks</p>
			</div>
			<div class="checklist-group">
				<img src="/images/bx-check-circle.svg" alt="checked box" />
				<p>Track your progress with interactive charts</p>
			</div>
			<div class="checklist-group">
				<img src="/images/bx-check-circle.svg" alt="checked box" />
				<p>Easiest way to track time spent on tasks</p>
			</div>

			<a class="btn-theme" href="/products">Learn more <i class="fa-solid fa-arrow-right"></i></a>

		</div>

	</div>

</section>