<section>
	<div class="app-section">
		<div class="container">
			<img class="left-image" src="/images/app-image.svg" alt="Phone app" />

			<div>
				<h1>Download Our App for Any Devices:</h1>
				<div class="content">
					<p id="title">App Store</p>
					<img id="rating-star" src="~/images/rating.svg" alt="5-star rating" />
					<h4 id="highlight">Editor's Choice</h4>
					<p id="rating-text">rating 4.7, 187k+ reviews</p>
					<a href="https://www.apple.com/se/app-store/"><img id="app-image" src="/images/appstore.svg" alt="App store" /></a>
				</div>
				<div class="content">
					<p id="title">Google Play</p>
					<img id="rating-star" src="/images/rating.svg" alt="5-star rating" />
					<h4 id="highlight">App of the Day</h4>
					<p id="rating-text">rating 4.8, 30k+ reviews</p>
					<a href="https://play.google.com/store/games?device=windows&pli=1"><img id="app-image" src="/images/googleplay.svg" alt="Google play" /></a>
				</div>
			</div>

		</div>
	</div>

</section>