<section>
	<div class="light-background">
		<div class="light-mode container">
			<h1 class="light-text">Switch Between<span class="dark-text">Light & Dark Mode</span></h1>

			<img src="/images/mockup.svg" alt="MacBook pro dark themed" />

		</div>
	</div>
</section>