@using Microsoft.AspNetCore.Identity
@using BlazorWebApp.Data
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@inject NavigationManager NavigationManager
@inject SignInManager<ApplicationUser> SignInManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject HttpClient HttpClient

<nav>
    <NavLink href="/Account/Manage" class="btn-theme-s"><i class="fa-solid fa-gear"></i>Account Details</NavLink>
    <NavLink href="/Account/Notifications" class="btn-transparent"><i class="fa-regular fa-bell"></i>Notifications</NavLink>
    <form method="post" action="Account/Logout">
        <input type="hidden" name="ReturnUrl" value="~/" />
        <button class="btn-transparent" type="submit"><i class="fa-solid fa-arrow-left"></i>Sign Out</button>

    </form>   
</nav>


@code {



    public async Task LogoutUserAsync()
    {

        try
        {
            var response = await HttpClient.PostAsync("/Account/Logout", null);

            if (response.IsSuccessStatusCode)
            {
                NavigationManager.NavigateTo("/");
            }
            else
            {
                Console.Error.WriteLine("Failed to log out");
            }
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"Exception during logout: {ex.Message}");
        }

    }
}
